{% extends 'base.html' %}

{% block title %}
{{master}}
{% endblock %}
{% block page_title %}
    <div class="album py-5 bg-light">
        <div class="container">
            Оберіть депутата для порівняння з <b class="dep">{{master}}</b>
        </div>
    </div>
{% endblock %}
        
{% block body %}
<div class="album py-5 bg-light">
    <div class="container">
        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            
            {% for dep in deps %}
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="/dep_to_dep/{{master}}/{{dep}}">
                            <div class="card-body">
                                <p class="card-text">{{dep}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}